[submodule "libraries/SDL"]
	path = libraries/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "libraries/freetype"]
	path = libraries/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/Clownacy/imgui.git
	branch = font-nonlinear
[submodule "libraries/emscripten-browser-file"]
	path = libraries/emscripten-browser-file
	url = https://github.com/Armchair-Software/emscripten-browser-file
[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libraries/Lyra"]
	path = libraries/Lyra
	url = https://github.com/bfgroup/Lyra
[submodule "libraries/tinyfiledialogs"]
	path = libraries/tinyfiledialogs
	url = https://github.com/jfolker/tinyfiledialogs
[submodule "clownmdemu-frontend-common"]
	path = common
	url = https://github.com/Clownacy/clownmdemu-frontend-common
